@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section style="margin-top: 10px;margin-right: 20px;margin-bottom: 20px;margin-left: 20px;">
    <div class="text-center">
        <div class="card" style="border-radius: 20px;">
            <div class="card-body">
                <h4 class="card-title">Reportes cantidad mascotas por fechas</h4>
                <form>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Cantidad</th>
                                    <th>Fecha</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>