@{
    Layout = "_LayoutUsuario";
}
<section class="text-center" style="margin-top: 10px;margin-right: 50px;margin-bottom: 10px;margin-left: 50px;">
    <div class="card">
        <div class="card-body">
            <div>
                <h1>Formulario</h1>
                <div>
                    <div class="container" style="margin-bottom: 10px;">
                        <div class="row">
                            <div class="col-md-3"><input type="tel" placeholder="Numero telefonico" style="margin-bottom: 10px;" /></div>
                            <div class="col-md-3"><textarea placeholder="Motivo adpcion" style="margin-bottom: 10px;"></textarea></div>
                            <div class="col-md-3"><label class="form-label" style="margin-bottom: 10px;">¿Cuántas personas viven en su casa?</label><input type="number" min="0" placeholder="Ingrese cantidad" style="margin-bottom: 10px;" /></div>
                            <div class="col-md-3">
                                <label class="form-label" style="margin-bottom: 10px;">¿Su casa es segura?</label>
                                <div>
                                    <select style="margin-bottom: 10px;">
                                        <option selected>si</option>
                                        <option value="13">This is item 2</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container" style="margin-bottom: 10px;">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label" style="margin-bottom: 10px;">¿En su casa alguien sufre de alergias?</label>
                                <div>
                                    <select style="margin-bottom: 10px;">
                                        <option selected>si</option>
                                        <option value="13">This is item 2</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label" style="margin-bottom: 10px;">¿Alguien sufre de alguna enfermedad respiratoria en su casa?</label>
                                <div>
                                    <select style="margin-bottom: 10px;">
                                        <option selected>si</option>
                                        <option value="13">This is item 2</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3"><input type="text" placeholder="Ubicacion vivienda" style="margin-bottom: 10px;" /></div>
                            <div class="col-md-3">
                                <select style="margin-bottom: 10px;">
                                    <option value="12" selected>Tipo vivienda</option>
                                    <option value="13">This is item 2</option>
                                    <option value="14">This is item 3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="text-end"><button class="btn btn-success" type="button" style="border-radius: 20px;">Postular</button></div>
                </div>
            </div>
        </div>
    </div>
</section>