@model ContenidoModel
<select id="razaMascota" asp-for="mascota.FKTIPRAZA_ID" asp-items="ViewBag.tipoRazas" class="form-select text-center">
    <option style="display: none;" selected>Raza mascota</option>
</select>

<div id="">

</div>