@model ContenidoModel
<select id="razaMascota" asp-for="mascota.FKTIPRAZA_ID" asp-items="ViewBag.tipoRazas" class="form-select text-center">
    <option style="display: none;" selected>Raza mascota</option>
</select>

<select id="vacunas" asp-for="mascTieneVac.FKVAC_ID" asp-items="ViewBag.vacunas" class="form-select">
    <option style="display: none;" selected>Vacuna</option>
</select>