@model List<Vistas>


@foreach (var Vistas in Model)
{
    <div class="text-center">
        <a class="nav-link text-dark" asp-area="" asp-controller="@Vistas.Controlador" asp-action="@Vistas.Accion">@Vistas.nombrevista</a>
    </div>

}
