@model List<TipoGrupoModel>
@{
    Layout = "_LayoutAdministracion";
}
@section stiloAdminHome{
    <style>
        body {
            background-image: url("/Img/gatos.jpg");
        }
    </style>
}
<div class="card" style="padding-top: 10px;border-radius: 20px;box-shadow: 0px 0px 20px;margin: 10px;">
    <div class="card-body">
        <div class="text-center">
            <h1>Listado tipo grupo&nbsp;</h1>
        </div>
        <div class="table-responsive" style="margin: 10px;border-radius: 20px;padding: 10px;border-style: solid;">
            <table class="table">
                <thead>
                    <tr>
                        <th class="table-active text-center">Identificador tipo grupo&nbsp;</th>
                        <th class="table-active text-center">Nombre tipo grupo</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pais in Model)
                    {
                        <tr>
                            <td class="text-center">@pais.TIPGRUP_ID</td>
                            <td class="text-center">@pais.TIPGRUP_Nombre</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div style="text-align: right;padding-right: 10px;border-radius: 20px;">
            <button id="botonAgregaPais"
                    class="btn btn-primary"
                    type="button" style="text-align: center;background: var(--bs-indigo);border-radius: 20px;"
                    onClick="mostrarFormularioPais()">
                Agregar tipo grupo
            </button>
        </div>
    </div>
</div>
<<<<<<< HEAD:Web/Views/TipoDocumento/AdminAgregaTpoGrupo.cshtml
<form asp-controller="TipoDocumento" method="post">
=======
<form asp-controller="TipoGrupo" method="post">
>>>>>>> cambios completos de admin y vistas:Web/Views/TipoGrupo/AdminAgregaTpoGrupo.cshtml
    <div class="card d-none" id="FormularioPais"
         style="margin-right: 200px;margin-bottom: 0px;margin-left: 300px;transform: translateY(-234px);box-shadow: 0px 0px 20px;border-radius: 20px;">
        <div class="card-body text-center">
            <h4 class="card-title text-center">Agregar tipo grupo&nbsp;</h4>
            <div><input type="number" name="idTipoGrupo" placeholder="Ingrese el id" style="margin-bottom: 10px;"></div>
            <div><input type="text" name="nombreTipoGrupo" placeholder="Ingrese el nombre" style="margin-bottom: 10px;"></div>
            <button id="botonCancelarPais" class="btn btn-danger" type="button"
                    style="border-radius: 20px;margin-right: 5px;"
                    onClick="ocultarFormularioPais()">
                Cancelar
            </button>
            <button class="btn btn-primary" type="submit" asp-action="createTipoGrupo" style="background: var(--bs-indigo);border-radius: 20px;">
                Aceptar
            </button>
        </div>
    </div>
</form>
<script>
    document.getElementById("botonAgregaPais")
    function mostrarFormularioPais() {
        document.querySelector('#FormularioPais').classList.remove("d-none");
    }

    document.getElementById("botonCancelarPais")
    function ocultarFormularioPais() {
        document.querySelector('#FormularioPais').classList.add("d-none")
    }
</script>